{
  "NODE_ENV": "development",
  "PORT": "9000",
  "ALLOW_HTTP": "true",
  "DEBUG_MODE": "false",
  "API_TOKENS": "supersecret",
  "NEW_RELIC_LICENSE_KEY": "to-be-filled",
  "NEW_RELIC_APP_NAME": "sandbox"
}
