---
stages:
  - build-containers
  - tag
  - deploy
include:
  - local: '/.gitlab-ci/build-image.yaml'
  - local: '/.gitlab-ci/deploy.yaml'

variables:
  FAILFASTCI_NAMESPACE: connylegal
  OCI_REPO: img.conny.dev
  CONTAINER: conny/printer
  IMAGE_NAME: $OCI_REPO/$CONTAINER
  APPNAME: printer
  APP: printer
  DEFAULT_TAG: v$CI_COMMIT_REF_SLUG


# BUILD IMAGE
printer image:
  extends: .build-container


# TAGS IMAGES
printer tag gitsha:
  extends: .tag-container
  variables:
    DEST_TAG: $CI_COMMIT_SHORT_SHA
  rules:
    - if: '$CI_COMMIT_BRANCH == "gitlab_ci"'
    - if: '$CI_COMMIT_TAG'

printer tag:
  extends: .tag-container
  rules:
    - if: '$CI_COMMIT_BRANCH == "gitlab_ci"'
    - if: '$CI_COMMIT_BRANCH == "production"'
    - if: '$CI_COMMIT_TAG'
  variables:
    DEST_TAG: $CI_COMMIT_REF_SLUG

printer tag latest:
  extends: .tag-container
  rules:
    - if: '$CI_COMMIT_BRANCH == "gitlab_ci"'
    - if: '$CI_COMMIT_BRANCH == "production"'
  variables:
    DEST_TAG: latest


# Deploy
deploy-staging:
  needs:
    - printer tag gitsha
  extends: .deploy
  stage: deploy
  variables:
    DEPLOY_ENV: conny-staging
  rules:
    - if: '$CI_COMMIT_BRANCH == "gitlab_ci"'

deploy-production:
  needs:
    - printer tag gitsha
  extends: .deploy
  stage: deploy
  variables:
    DEPLOY_ENV: prod/conny
  rules:
    - if: '$CI_COMMIT_BRANCH == "production"'
