---
stages:
  - build
  - test
  - coverage
  - release
  - tag
  - deploy

include:
  - project: 'connylegal/mietright_deployments'
    ref: main
    file: '/.gitlab-ci/build-container.yaml'
  - project: 'connylegal/mietright_deployments'
    ref: main
    file: '/.gitlab-ci/deploy.yaml'

cache:
  key: $CI_COMMIT_REF_SLUG
  paths:
    - /opt/gitlab/cache/image-cache

variables:
  FAILFASTCI_NAMESPACE: connylegal
  OCI_REPO: img.conny.dev
  IMAGE_NAME: $OCI_REPO/conny/printer
  APPNAME: printer
  APP: printer
  DEFAULT_TAG: $CI_COMMIT_SHORT_SHA
  ### Printer
  NODE_ENV: development
  PORT: 9000
  ALLOW_HTTP: 'true'


# BUILD IMAGE
build image:
  extends: .build-container
  variables:
    TAG: $DEFAULT_TAG
  stage: build

# RUN TEST
unit test:
  image:
    name: $IMAGE_NAME:$DEFAULT_TAG
  needs:
    - "build image"
  cache:
    key: $CI_COMMIT_REF_SLUG
  stage: test
  variables:
    GIT_STRATEGY: none
  script:
    - cd /usr/src/app
    - yarn test
  allow_failure: true
  tags:
    - kubernetes


# TAGS IMAGES
image tag:
  needs:
    - build image
  extends: .tag-main
  variables:
    SOURCE_TAG: $DEFAULT_TAG


deploy-staging:
  needs:
    - image tag
  extends: .deploy-staging

deploy-production:
  needs:
    - image tag
  extends: .deploy-production
